<footer class="site-footer" style="padding-bottom: 0px;">

  <div class="wrapper">

  	

  	<hr>

	<p align="center" style="margin-bottom: 0px; font-size: 16px;">
		PUPULUMU © 2021 - All Rights Reserved
	</p>	
    
    
  	<p align="center" style="margin-bottom: 0px; font-size: 16px;">

  		<strong>Privacy Policy</strong> - This blog does not collect any personal information except that which is freely shared publicly through comments, email signup or other means.
  	</p>

  	<p align="center" style="margin-bottom: 0px; font-size: 16px;">

	<strong>Disclosure</strong> - There may be affiliate links throughout the blog which are provided by affiliate partners that I may have financial relationships with. I may receive compensation from these affiliate partners if you purchase products using the links in this blog.
	</p>



  </div>

</footer>
<div class="color-bars-header"><div class="cor-head colr-1"></div><div class="cor-head colr-2"></div><div class="cor-head colr-3"></div><div class="cor-head colr-4"></div><div class="cor-head colr-1"></div><div class="cor-head colr-2"></div><div class="cor-head colr-3"></div><div class="cor-head colr-4"></div></div>