
  <header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/"><p class="site-title" style="font-size: 1em;"><b>{{ site.title }}</b></p></a>
    
  
    <nav class="site-nav">
    	<span style="font-size: 20px; ">
    		<b>
    			<!-- <a href="https://bit.ly/2LL90aA" class="nav-link" target="_blank">Promo 70% Off</a>   -->

          <a href="{{site.baseurl}}/problems/" class="nav-link">Problems?</a>

    			<a href="{{site.baseurl}}/about/" class="nav-link">About</a>
    			<a href="{{site.baseurl}}/contact/" class="nav-link">Contact</a>

          <a href="https://www.amazon.com/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&tag=nejibana05-20&keywords=apple airpod pro&index=aps&camp=1789&creative=9325&linkCode=ur2&linkId=529ed9ca41cc5c46a8f5a2c1b3bc0a45" class="nav-link" target="_blank" rel="nofollow">Your Airpods</a>

    		</b>
    	</span>
    </nav>

  </div>

</header>
