---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>


{% include share-buttons.html %}

<br>

<!-- ads -->

<p align="center">
    <a href="https://voluum.com/?rt=ssZ9gS%2FGUWUbuuGCUzSCu2UqA496YJEsegFgb%2FqQYHc2YxTZROLXfYJU676iU1V3" target="_blank" rel="nofollow">
        <img src="{{site.baseurl}}/images/affiliate-ads-tracker.jpg" alt="ads tracker affiliate marketing" title="ads tracker affiliate marketing" width="600" />
    </a>
</p>

<!-- end ads -->


<strong style="font-size: 20px;">Now let’s do something more...</strong>

{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:5 %}
{% for post in posts %}
  {% include related-post.html %}
{% endfor %}

   {% if site.disqus-shortname %}
   {% include disqus.html %}
   {% endif %}